<%- include('partials/header.ejs'); -%>



<div class = "container text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mt-5">Delete A Note</h1>
    <% if (locals.success) { %>
        <h5 class="alert alert-danger" id = "register"><%= success %></h5>
    <% } %>
    <% if (locals.auth === "google") { %>
        <p class="lead mt-5">Welcome to delete page, google user <%= user %><p>
        <form method = "POST" action = "/delete-post" class = "pt-2 starting">
            <input name="post_id" type="number" class="feedback-input" placeholder="id to be deleted" required/>
            <input type="submit" value="SUBMIT" />
        </form>
    <% } else if (locals.auth === "regular") { %> 
        <p class="lead mt-5">Welcome to delete page, regular user <%= user %><p></p>
        <form method = "POST" action = "/delete-post" class = "pt-2 starting">
            <input name="post_id" type="number" class="feedback-input" placeholder="id to be deleted" required/>
            <input name="password" type="password" class="feedback-input" placeholder="shhh..secret(password)" required/>
            <input type="submit" value="SUBMIT" />
        </form>
    <% } %>
</div>



<%- include('partials/footer.ejs'); -%>